EXPORT_FORMAT=png
DPI=96
SPLIT=none
SHOW_RELATIONS=false
OUTPUT_DIR=output
BIG_THRESHOLD=60

#   dot   — Based on their relationships, the key tables form a hierarchy (by default)
#   grid  — a grid consisting of GRID_COLUMNS columns (useful when there are few relationships)
#   neato | fdp | sfdp | osage — compact 2D layout
LAYOUT=grid
GRID_COLUMNS=40

DB_1_NAME=db_name_1
DB_1_SCHEMA=db_shema_name_1
DB_1_URL=mysql+aiomysql://clinica:12345678@localhost:3306/db_shema_name_1

DB_2_NAME=db_name_2
DB_2_SCHEMA=db_shema_name_2
DB_2_URL=mysql+aiomysql://clinica:12345678@localhost:3306/db_shema_name_2

DB_3_NAME=db_name_3
DB_3_SCHEMA=db_shema_name_3
DB_3_URL=mysql+aiomysql://clinica:12345678@localhost:3306/db_shema_name_3
